:root {
    --indigo-muted: #6351ce;
    --indigo-dark : #5000d2;
    --indigo-light: #8c86fe;
    --indigo-seethrough: rgb(67 49 253 / 50%);
    --line-light: #f0f3f6;
    --grey-light: #dadada;
}

.bg-indigo {
    background-color: var(--bs-indigo);
}

.bg-grey-light {
    background-color: var(--grey-light);
}

.color-indigo {
    color: var(--bs-indigo);
}

.bg-indigo-bright {
    background-color: var(--bs-indigo);
}

.border-indigo {
    border-color: var(--bs-indigo);
}

.btn.bg-indigo {
    background-color: var(--bs-indigo);
}

.btn.bg-indigo.disabled, .btn.bg-indigo:disabled {
    background-color: var(--bs-indigo);
    border-color: var(--bs-indigo);
}

.btn.bg-indigo:hover, .btn.bg-indigo:active, .btn.bg-indigo:focus {
    background-color: var(--indigo-dark);
    border-color: var(--indigo-dark);
}

.btn.bg-indigo:focus {
    box-shadow: 0 0 0 0.25rem var(--indigo-seethrough);
}

.p-outer-block {
    padding-top:2rem;
    padding-bottom:3rem;
}

.p-outer-block-s {
    padding-top:1.5rem;
    padding-bottom:3rem;
}

.line-left {
    border-left: 2px solid var(--line-light);
}

.title-underline {
    border-bottom: 2px solid var(--line-light);
    padding-bottom: 0.5em;
}

.user-editable-box h1 {
    font-size: 2rem;
}

.user-editable-box h2 {
    font-size: 1.25rem;
}

.max-height-85 {
    max-height: 75vh; /* funny */
}

/* top nav / search */

.navbar.search-bar {
    background-color: var(--bs-indigo);
    padding: 0.5rem 10rem;
}

.navbar.search-bar .bi {
    font-size: 1.5rem;
}

.account-icon {
    align-items: center;
}

.account-icon .username {
    margin-left: 0.2em;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--bs-indigo);
}

.navbar.search-bar .dropdown-item {
    display: flex;
    align-items: center;
}

.navbar.search-bar .dropdown-item .bi {
    margin-right: 0.5em;
}

.store-icon {
    margin-right: 0.5em;
}

.img-thumb-xs {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}

.img-thumb-s {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}

.img-thumb-m {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

.cart-dropdown {
    width: 22rem;
}

.cart-dropdown > li:nth-last-child(3) > .container > .border-bottom {
    border : 0 !important;
}

.search-overlay {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 42%);
    display: none;
}

.search-overlay.show {
    display:block;
}

.search-container {
    z-index: 2000;
}

.search-result-dropdown {
    bottom: 0;
    transform: translateY(100%);
}

.search-result-dropdown h6, .search-result-dropdown p {
    font-size: .8125rem;
}

.text-small {
    font-size: 10pt;
}

.prod-search-rating .bi {
    padding: 0 1pt;
}

.toast-icon-container {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 10pt;
}

.notification-outer {
    cursor: pointer;
}

.view-media-modal {
    z-index: 3000;
}

.z-3000 {
    z-index: 3000;
}

/* Bootstrap edits */

.accordion-button-indigo:focus {
    box-shadow: 0 0 0 0.25rem var(--indigo-seethrough);
    border-color: var(--indigo-light);
}

.accordion-button-indigo:not(.collapsed) {
    color: var(--bs-white);
    background-color: var(--bs-indigo);
}

.accordion-button-indigo:not(.collapsed)::after {
    filter: brightness(10);
}


/* Lib stuff */

.pell-content h1 {
    font-size: 2rem;
}

.pell-content h2 {
    font-size: 1.25rem;
}


/* mobile */

@media (min-width: 768px) {
    .fs-md-6 {
        font-size: 1rem!important;
    }
}

@media (max-width: 768px) {
    .navbar.search-bar {
        padding: inherit;
        z-index: 3000;
    }

    .nav-dropdown {
        position: absolute !important;
        z-index: 3000;
        box-shadow: 1px 2px 25px 2px rgb(0 0 0 / 39%);
        right: 0.5rem !important;
        top: 3rem !important;
        max-width: 95vw;
    }

    .nav-main-dropdown-container {
        position: unset !important;
    }

    .col-12.line-left {
        border-left: 0;
    }

    .hide-mobile {
        display: none !important;
    }

    .img-thumb-m {
        height: 4rem;
        width: 4rem;
        margin-right: 0 !important;
    }
}