.account-nav .link-dark:focus, .account-nav .link-dark:hover {
    color: var(--bs-indigo);
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--bs-indigo);
}

.account-nav .bi {
    margin-right: 0.5em;
}



/* mobile */

@media (max-width: 768px) {
    .account-wrapper-container {
        border: 1px solid #dee2e6!important;
    }
}