.container.p-outer-block {
    max-width: 55vw;
}

.success-container {
    padding-top: 10rem;
    padding-bottom: 10rem;
}


/* mobile */



@media (max-width: 768px) {
    .container.p-outer-block {
        max-width: unset;
    }
}