.shop-banner {
    height: 15rem;
    overflow: hidden;
}

.shop-banner-edit {
    height: 9rem;
    overflow: hidden;
}

.shop-logo {
    height: 7rem;
    width: 7rem;
    object-fit: cover
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-avatar {
    background-color: rgb(0 0 0 / 37%);
    color: white;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-weight: bold;
    overflow: hidden;
}

.profile-media {
    width: 5rem;
    height: 4rem;
}

.image-popup-img {
    width: 20rem;
    max-height: 20rem;
}

.media-item-img {
    height: 100%;
    object-fit: cover;
}

.media-item-container {
    max-height: 15rem;
    overflow: hidden;
}

.media-item-clickable {
    cursor: pointer;
}

.media-view-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-view-image-container {
    width: 100%;
    height: 85vh;
    overflow: hidden;
}


/* manager */
.inventory-thumbnail {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

/* product */

.product-img-current {
    width: 25rem;
    height: 20rem;
    object-fit: contain;
}

.product-img-thumb {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.product-media-select {
    width: 25rem;
}

.thumbnail-product-media-select {
    height: 4.5rem !important;
}

.thumbnail-product-media-select .card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.desc-container h1 {
    font-size: 2rem;
}

.desc-container h2 {
    font-size: 1.25rem;
}

.product-thumbnail-img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.similar-products-img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
}

.stars-top .bi {
    margin: 0 2pt;
}

.rating-star {
    cursor: pointer;
    font-size: 18pt;
}